@media screen and (max-width: 768px)
  .container
    max-width: 738px

  .header
    &__nav
      display: none

  .grid--products
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 1.5rem

  .grid--footer
    grid-template-columns: repeat(4, 1fr)

  footer
    .details
      grid-column: 1/2

    .cat-4
      grid-column: 2 / 3
      grid-row: 2

      p
        margin: 0

    .social
      margin-top: 2rem
      display: flex
      grid-column: 1 / 7
      grid-row: 3

      &__icons
        order: 1
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        margin-bottom: 0

@media screen and (max-width: 425px)
  .container
    max-width: 395px

  .grid--products
    grid-template-columns: repeat(1, 1fr)
    grid-gap: 1.5rem

  .grid--footer
    grid-template-columns: repeat(2, 1fr)

  footer
    .details
      grid-row: 1

    .categories
      display: none

      &--mobile
        display: initial
        grid-row: 3


    .social
      margin-top: 2rem
      display: flex
      flex-direction: column
      grid-row: 2

      &__icons
        justify-content: flex-start;
        margin: 1rem 0

      &__subscribe
        display: flex

        input
          width: 50%

        button
          width: 30%
          padding: .2rem;
          border: 1px solid $color1
          background-color: $color1
          color: white
          font-family: $font2
